<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProgramToInterfaceTest"
        tools:targetApi="31">
        <activity
            android:name=".view.gui.StartActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProgramToInterfaceTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.gui.Modell"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProgramToInterfaceTest"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".view.gui.AccountActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProgramToInterfaceTest"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".view.gui.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProgramToInterfaceTest"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".view.gui.RegistrationActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProgramToInterfaceTest"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".view.gui.HauptmenuActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProgramToInterfaceTest"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".view.gui.QuestionWirelessConnectionActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProgramToInterfaceTest"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".view.gui.QuestionCancelCurrentRoundMultiplayermodeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProgramToInterfaceTest"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".view.gui.QuestionCancelCurrentRoundSinglemodeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProgramToInterfaceTest"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".view.gui.QuestionStartNewRoundMultiplayermodeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProgramToInterfaceTest"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".view.gui.QuestionNewRoundSinglemodeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProgramToInterfaceTest"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".view.gui.WinnerMultiplayermodeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProgramToInterfaceTest"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".view.gui.PopUpFirstPlaceInTopFiveActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProgramToInterfaceTest"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".view.gui.LoserMultiplayermodeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProgramToInterfaceTest"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".view.gui.GratulationEndOfARoundSinglemodeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProgramToInterfaceTest"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".view.gui.AccountDeletingActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProgramToInterfaceTest"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".view.gui.RegistrationCompletedAcitvity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProgramToInterfaceTest"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".view.gui.LogoutCompletedActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProgramToInterfaceTest"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".view.gui.GameRunMultiplayermodeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProgramToInterfaceTest"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".view.gui.GameRunSinglemodeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProgramToInterfaceTest"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".view.gui.StartButtonGameRunSinglemodeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProgramToInterfaceTest"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".view.gui.SubmitGameRunCancleActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProgramToInterfaceTest"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".view.gui.TopFiveActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProgramToInterfaceTest"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".view.gui.QuestionAccountDeletingActivtiy"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProgramToInterfaceTest"
            tools:ignore="Instantiatable">
        </activity>

        <activity
            android:name=".view.gui.QuestionConnectiontyp"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProgramToInterfaceTest"
            tools:ignore="Instantiatable">
        </activity>
    </application>

</manifest>